.navbar-brand{
	padding-top: 6px;
	padding-left: 10px;
}
.navbar-default {
	border-radius: 0 0 0 0; 
	height: 60px;
    border: 0;
    background-color: #89BA4E;
    margin-bottom:0;
}

.navbar-pills {
    border-radius: 0 0 0 0; 
    height: 20px;
    border: 0;
    padding:0;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF7CB228', endColorstr='#FF50B3E2');
    background-image: -webkit-linear-gradient(200deg, rgba(124, 178, 40, 0.9) 0%, rgba(80, 179, 226, 0.9) 100%);
    background-image: -moz-linear-gradient(200deg, rgba(124, 178, 40, 0.9) 0%, rgba(80, 179, 226, 0.9) 100%);
    background-image: linear-gradient(200deg, rgba(124, 178, 40, 0.9) 0%, rgba(80, 179, 226, 0.9) 100%);
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 5px;
    margin-bottom:0;
}

.navbar-default .navbar-brand {
	color: #52A3CC;
}
.navbar-default .navbar-nav > li > a {
	color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #00E68A;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: #FFFFFF;
	background-color: #00E68A;
	padding-left: 40px;
}

body {
    background: #eaeaea none;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    color: #666;
    font-size: 14px;
    line-height: 1.2em
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: normal;
    line-height: 1.4em;
    -moz-font-feature-settings: "liga", "dlig", "kern" 1;
    -webkit-font-feature-settings: "liga", "dlig", "kern" 1;
    font-feature-settings: "liga", "dlig", "kern" 1
}

h1.center, h2.center, h3.center, h4.center, h5.center, h6.center,
.h1.center, .h2.center, .h3.center, .h4.center, .h5.center, .h6.center {
    text-align: center
}

h1, h2, h3, h4, h5, h6 {
    color: #333
}

h1, .h1 {
    margin: 14px 0;
    margin-top: -webkit-calc(14px - 0.2em);
    margin-top: calc(14px - 0.2em);
    margin-bottom: -webkit-calc(14px - 0.2em);
    margin-bottom: calc(14px - 0.2em);
    font-size: 22px;
    font-weight: 500
}

h2, .h2 {
    margin: 14px 0;
    margin-top: -webkit-calc(14px - 0.2em);
    margin-top: calc(14px - 0.2em);
    margin-bottom: -webkit-calc(14px - 0.2em);
    margin-bottom: calc(14px - 0.2em);
    font-size: 18px;
    font-weight: normal
}

h3, .h3 {
    margin: 14px 0;
    margin-top: -webkit-calc(14px - 0.2em);
    margin-top: calc(14px - 0.2em);
    margin-bottom: -webkit-calc(14px - 0.2em);
    margin-bottom: calc(14px - 0.2em);
    font-size: 16px;
    font-weight: normal
}

h4, .h4, h5, .h5 {
    font-size: 14px;
    font-weight: 500;
    margin: 14px 0
}

div, p, .p {
    font-size: 14px;
    color: #666
}

div.center, p.center, .p.center {
    text-align: center
}

div {
    line-height: 1em
}

p, .p {
    margin: 14px 0;
    margin-top: -webkit-calc(14px - 0.2em);
    margin-top: calc(14px - 0.2em);
    margin-bottom: -webkit-calc(14px - 0.2em);
    margin-bottom: calc(14px - 0.2em);
    padding: 0;
    line-height: 1.4em
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.custom {
    width: 150px;
}

input.form-control {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.crop {
    width: 1440px;
    height: 525px;
    overflow: hidden;
}

.crop img {
    width: 1440px;
    height: 960.768px;
    margin: -270px 0 0 0px;
}